<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= comment.UserId %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= comment.PostId %>
  </p>

</div>
